.dog {
    border: 2px solid black;
    height: 350px;
    width: 350px;
    margin: 20px;
}

p {
    font-family: arial;
    font-weight: bolder;
    text-align: center;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}